
version: cardinal

astir_opts:
    max_epochs: 1000
    batch_size: 32
    learning_rate: 2e-3
    n_initial_epochs: 3

n_subsample: 15000

## Data config for the Basel dataset of Jackson 2020 imc
basel:
    base_dir: data-raw/jackson-2020/SingleCell_and_Metadata/BaselTMA/
    metadata_file: Basel_PatientMetadata.csv
    marker_file: markers/jackson-2020-markers-v4.yml
    markers_imbalance: markers/jackson-2020-markers-imbalance.yml

zurich1:
    base_dir: data-raw/jackson-2020/SingleCell_and_Metadata/ZurichTMA/
    metadata_file: Zuri_PatientMetadata.csv
    marker_file: markers/jackson-2020-markers-v4.yml

## Data config for Wagner 2019 cell
wagner:
    fcs_dir: data-raw/wagner-2019/fcs_files
    sample_file: data-raw/wagner-2019/wagner-2019-samples.csv
    marker_file: markers/wagner-2019-markers-v4.yml
    markers_imbalance: markers/wagner-2019-markers-imbalance.yml

schapiro:
    sample_txt: data-raw/schapiro-2017/samples.txt
    data_dir: data-raw/schapiro-2017/single-cell-data/
    marker_file: markers/schapiro-markers.yml

lin_cycif:
    marker_file: markers/lin_cycif-markers.yml

lin-cycif:
    marker_file: markers/lin_cycif-markers.yml

keren:
    marker_file: markers/keren-2018-markers-v1.yml
    samples_file: data-raw/keren-samples.txt


## Fake celltypes:
fake_celltypes:
    basel:
        'CD3+Keratin+':
            - pan Cytokeratin
            - CD3
        'CD20+CDH1+':
            - CD20
            - E-Cadherin
    zurich1:
        'CD3+Keratin+':
            - pan Cytokeratin
            - CD3
        'CD20+CDH1+':
            - CD20
            - E-Cadherin
        'CK5+VIM+':
            - Cytokeratin 5
            - Vimentin
    wagner:
        'CD3+Keratin+':
            - panK
            - CD3
        'CK5+VIM+':
            - K5
            - Vimentin
    schapiro:
        'CD68+CDH1+':
            - CD68
            - E-cadherin
    keren:
        'CD20+Keratin17+':
            - CD20
            - Keratin17
        'CD8+Keratin6+':
            - CD8
            - Keratin6

wagner_clusterings:
    'Epithelial': 'data-raw/wagner-2019-all/wagner-2019-cell/Figure 3/'
    'CD45': 'data-raw/wagner-2019-all/wagner-2019-cell/Figure 2/CD45_cell_fcs'
    'Myeloid': 'data-raw/wagner-2019-all/wagner-2019-cell/Figure 2/Myeloid_cell_fcs'
    'T cell': 'data-raw/wagner-2019-all/wagner-2019-cell/Figure 2/T_cell_fcs'



# Config for cell level accuracy

cytofLDA_path: utils/CyTOF-Linear-Classifier

cla:
    basel:
        annotators:
            "Annotator-1": data-raw/annotations/basel/assignments-basel_subset_for_annotation.csv_kieran.tsv
            "Annotator-2": data-raw/annotations/basel/assignments-basel_subset_for_annotation.csv-MG.tsv
        train_test: data-raw/annotations/basel/basel_train_test_split.tsv
    zurich1:
        annotators:
            "Annotator-1": data-raw/annotations/zurich1/assignments-zurich1_subset_for_annotation.csv-kieran.tsv
            "Annotator-2": data-raw/annotations/zurich1/assignments-zurich1_subset_for_annotation.csv-MG.tsv
        train_test: data-raw/annotations/zurich1/zurich1_train_test_split.tsv
    wagner:
        annotators:
            "Annotator-1": data-raw/annotations/wagner/assignments-wagner_subset_for_annotation.csv-kieran.tsv
        train_test: data-raw/annotations/wagner/wagner_train_test_split.tsv

coarse_fine_mapping: 
    basel: data-raw/annotations/coarse-fine-mapping.yml
    zurich1: data-raw/annotations/coarse-fine-mapping.yml
    wagner: data-raw/annotations/coarse-fine-mapping-wagner.yml

cluster_mapping: 
    basel: data-raw/annotations/cluster-mapping.yml
    zurich1: data-raw/annotations/cluster-mapping.yml
    wagner: data-raw/annotations/wagner/wagner-cluster-map.csv


taproom_path: /home/campbell/share/projects/taproom



